<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><font size="-1">Your ride has been approved: Prevoz studenata on Wed Jan 24 2019 15:15 from <a href="https://www.google.com/maps/dir/Republic+Square,+Trg+republike,+Beograd+11000/Danijelova+32/">Kalemegdan to Singidunum</a></font> </mat-card-title>
    <mat-card-subtitle>
    <div fxLayoutAlign="start center" fxLayout="row" routerLink="/profile" (click)="this.US.profileToShow=2">
      <font face="verdana" color="blue"><u>{{ this.US.getNameById(2) }}</u></font>
      <mat-icon>stars</mat-icon>
      {{this.US.getRatingById(2)[0]}}
    </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><font size="-1">Your ride has been approved: test voznja on Wed Jan 24 2019 10:20 from <a href="https://www.google.com/maps/dir/Republic+Square,+Trg+republike,+Beograd+11000/Danijelova+32/">Trg Republike to Danijelova 32</a></font> </mat-card-title>
      <mat-card-subtitle>
      <div fxLayoutAlign="start center" fxLayout="row" routerLink="/profile" (click)="this.US.profileToShow=1">
        <font face="verdana" color="blue"><u>{{ this.US.getNameById(1) }}</u></font>
        <mat-icon>stars</mat-icon>
        {{this.US.getRatingById(1)[0]}}
      </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>